<html>
<head>
    <title>Booking Information Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/style.css">
    <style>
        body
        { 
            padding-top:80px; word-wrap:break-word; 
            }
    </style>
</head>
<body>

    <div class="container">
  <h2>Booking Rules</h2> 
<div class="input-group">
    <span class="input-group-addon">Earliest book</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="">
  </div>
  <br/>
<div class="input-group">
    <span class="input-group-addon">Latest Book</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="">
  </div>
  <br/>
  <div class="input-group">
    <span class="input-group-addon">Maximum PartySize</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Party Size">
  </div>
  <br/>

    </body>
    </html>