<html>
<head>
    <title>General Information Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/style.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="input-group">
    <span class="input-group-addon">Opening Hours</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Lunch hours">
  </div>
<div class="input-group">
    <span class="input-group-addon">Opening Hours</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Dinner hours">
  </div>
    </body>
    </html>