<!doctype html>
<html>
<head>
    <title>Welcome Page</title>
   
    <style>
        body       
         { 
             padding-top:100px; 
             }
    </style>
</head>
<body>
<div class="container">

    
        <h1><span class="fa fa-lock"></span> Eten Bot</h1>

        <p>Register or Login here:</p>

        <a href="/login" class="btn"><span class="userLogin"></span>  Login</a>
        <a href="/signup" class="btn"><span class="userRegister"></span> Register</a>
   
</div>
</body>
</html>
