<html>
<head>
    <title>User Requirement Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/style.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
   

<div class="topcorner"><a href="/logout">Logout</a></div>
    

    <div class="container">
  <h2>Welcome,</h2> <div class="well"><%= user.facebook.name %></div>
 
</div>
    <div class="container">
  <h2>Teach Bot</h2>
  <a href="/generalInfo" class="btn btn-info" role="button">General Info</a>
  <a href="/bookingInfo" class="btn btn-info" role="button">Booking Info</a>
  
</div>
      
</body>
</html>
