<html>
<head>
    <title>Node Authentication</title>
   
    <style>
        body        { 
            padding-top:100px; 
            }
    </style>
</head>
<body>
<div class="container">

    <h1><span class="title"></span> Signup</h1>


    
    <form action="/signup" method="post">
        <div class="email">
            <label>Email</label>
            <input type="text" class="email" name="email">
        </div>
        <div class="pass">
            <label>Password</label>
            <input type="password" class="pass" name="password">
        </div>

        <button type="submit" class="btn">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    



</div>
</body>
</html>
